<h1>チーム一覧</h1>
<%= link_to "新規チーム作成", new_team_path %>
<%= link_to "トップページに戻る", root_path %>

<% @teams.each do |team| %>
  <div>
    <h2><%= link_to team.name, team_path(team) %></h2>
  </div>
<% end %>
