<%= form_with model: [team, category, post, comment], class: "c-form" do |f| %>
  <div class="form-group">
    <%= f.label :comment, "コメントを書く", class: "form-label" %>
    <%= f.text_area :comment,
                    rows: 4,
                    class: "form-control c-input",
                    placeholder: "コメントお願いします。" %>
  </div>

  <div class="c-submit">
    <%= f.submit "コメントする", class: "btn btn-primary btn-sm btn-c-submit" %>
  </div>
<% end %>
