<div class="posts cover">
  <% if user_signed_in? && @user == current_user %>
    <h1 class="posts-title">マイページ</h1>
  <% else %>
    <h1 class="posts-title"><%= @user.name %>のページ</h1>
  <% end %>

  <% @posts.each do |post| %>
    <div class="post-item">
      <div class="d-flex justify-content-between align-items-center post-head w-100">
        <h3 class="mb-0 post-title">
          <%= link_to post.title, team_category_post_path(post.team, post.category, post) %>
        </h3>
        <div class="d-flex gap-2 post-actions">
          <span class="posts-meta"><%= "#{post.comments.count} コメント" %></span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="pagination-wrapper">
    <%= paginate @posts %>
  </div>
</div>
