<div class="posts cover">
  <h1 class="posts-title">下書き一覧</h1>
  <p class="posts-meta">チーム: <%= @team.name %></p>
  <p class="posts-meta">カテゴリー: <%= @category.name %></p>

  <%= render "posts/index", posts: @posts, team: @team, category: @category %>
</div>