

<div class="cover">
  <div class="container p-form d-flex flex-column">
    <div class="row mt-5 p-row">
      <div class="p-panel">
        <h1 class="p-h1">編集</h1>
      </div>
    </div>
    <div class="row mt-4 p-row">
      <div class="p-panel">
        <%= form_with model: [@team, @category, @post], local: true do |f| %>
          <div class="form-group mb-3">
            <label class="form-label">タイトル</label>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group mb-3 rich-text-group">
            <label class="form-label">内容</label>
            <%= f.rich_text_area :content %>
          </div>
          <div class="form-group mb-3">
            <%= f.submit "更新する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
