/*
 *= require trix
 */

.trix-content {
  line-height: 1.5;
}

.trix-content h1 {
  font-size: 1.2em;
  line-height: 1.2;
}

.trix-content a {
  color: #1e88e5;
}

.trix-content pre {
  background: #eee;
  padding: 0.5em;
}

.trix-content ul,
.trix-content ol {
  padding-left: 1.5em;
}

.trix-content img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0;
}
