.title {
    font-family: "Arial Black", "Helvetica", sans-serif;
    font-weight: 700;
}

.sub-title {
   font-family: serif; 
}

.cover {
    height: 100%;
    width: 100%;
    display: table;
    

}