
.sub-title {
     font-family: "Arial Black", "Helvetica", sans-serif;
     font-weight: 700;
}

.cover {
    min-height: 100vh;
    width: 100%;
    display: table;
}

.title-image {
    max-width: 320px;
    width: 100%;
    height: auto;
    display: inline-block;
}

.text-center {
    display: table-cell;
    vertical-align: middle;
}